.atas{
    background-color: yellow;

}
.container h2{
   font-family: Raleway;
   font: 200px;
   text-align: center;
   
}
.container h5{
    text-align: center;
}

.container p{
    text-align: center;
}